# =====================================
# Talentify Face API (Render Version)
# =====================================

# Core
setuptools>=68.0.0
wheel>=0.41.2
pip>=23.3

# Web framework
flask==3.0.3
gunicorn==23.0.0
requests==2.32.3

# Image + math
opencv-python-headless==4.8.1.78
numpy==1.24.3
pillow==10.2.0

# AI / Face Recognition
deepface==0.0.92
tensorflow-cpu==2.13.0
